<svg xmlns="http://www.w3.org/2000/svg" aria-labelledby="cartTitle cartDesc" role="img" viewBox="0 0 24.87 27.87"
  class="cart-icon">
  <title id="cartTitle">Mycube Shopping Cart</title>
  <desc id="cartDesc">Click the icon to open up a side menu showing everything you added to cart.</desc>
  <g id="a"></g>
  <g id="b">
    <g id="c">
      <g>
        <path
          d="M21.4,6.08h-2.88c-.33-3-2.93-5.33-6.09-5.33S6.68,3.08,6.35,6.08H3.47c-1.5,0-2.72,1.19-2.72,2.66v15.72c0,1.47,1.22,2.66,2.72,2.66H21.4c1.5,0,2.72-1.19,2.72-2.66V8.74c0-1.47-1.22-2.66-2.72-2.66Z"
          class="cart-icon__fill"></path>
        <line x1="6.35" y1="6.08" x2="18.52" y2="6.08" class="cart-icon__fill"></line>
      </g>
    </g>
  </g>
</svg>