<div class="ship_tex">
  <p>FREE SHIPPING</p>
  <p>DOUBLE LIFETIME WARRANTY</p>
  <p>
    35-DAY TRIAL</p>
</div>
<div class="blw__ship">
  <p class="instock_text">
    In stock
  </p>
  <p>
    Ships within 2 to 3 days.
  </p>
</div>