<div id="friendsby"></div> 

<style>
.refer-friend{
    min-height: calc(100vh - 137px);
    }
    div#friendsby {
    line-height: 0px;
}
</style>
{% schema %}
  {
    "name": "Refer Friend",
    "class":"refer-friend",
    "settings": [
    ],
    "presets": [
      {
        "name": "Refer Friend"
      }
    ]
  }
{% endschema %}