.drawer {
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  transition: visibility var(--duration-default) ease;
}

.drawer.active {
  visibility: visible;
}

.drawer__inner {
  height: 100%;
  width: 71vw;
  max-width: 71vw;
  padding: 0 0;
  border: 0;
  border-right: 0;
  background-color: #e5dcd3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}
.rca_main_items,.drawer__header{
  background-color: #fcfaf6;
}
.rca_main_items {
  padding-bottom: 12px;
}
.drawer__inner-empty {
  height: 100%;
  padding: 0 1.5rem;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 287px;
}

.cart-drawer__warnings {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

cart-drawer.is-empty .drawer__inner { 
  display: grid; 
  grid-template-rows: 0fr;
  align-items: flex-start;
  padding: 0;
}

cart-drawer.is-empty .drawer__header {
  display: none;
}

cart-drawer:not(.is-empty) .cart-drawer__warnings,
cart-drawer:not(.is-empty) .cart-drawer__collection {
  display: none;
}

.cart-drawer__warnings--has-collection .cart__login-title {
  margin-top: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer__header {
  position: relative;
  padding: 36px 36px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer__heading {
  margin: 0 0 1rem;
}

.drawer__close {
  display: inline-block;
  padding: 0;
  min-width: 4.4rem;
  min-height: 4.4rem;
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), 0);
  position: absolute;
  top: 34px;
  left: 36px;
  color: rgb(var(--color-foreground));
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-drawer__warnings .drawer__close {
  right: 5px;
}

.drawer__close svg {
  height: 3.6rem;
  width: 3.6rem;
}

.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.drawer__footer {
  background-color: rgb(var(--color-background));
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.2);
  padding: 1.5rem 0;
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

.drawer__footer > details {
  margin-top: -1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
}

.drawer__footer > details[open] {
  padding-bottom: 1.5rem;
}

.drawer__footer summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.drawer__footer > details + .cart-drawer__footer {
  padding-top: 1.5rem;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-drawer__overlay:empty {
  display: block;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.cart-drawer__collection {
  margin: 0 2.5rem 1.5rem;
}

.cart-drawer .drawer__cart-items-wrapper {
  flex-grow: 1;
}

.cart-drawer .cart-items, .cart-drawer tbody {
  display: block;
  width: 100%;
}

.cart-drawer thead {
  display: inline-table;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(var(--color-base-background-1));
}

cart-drawer-items {
  overflow: auto;
  flex: 1;
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }

  .drawer__inner {
    overflow: auto;
  }
}

.cart-drawer .cart-item {
  display: grid;
  grid-template: repeat(2,auto) / repeat(4,1fr);
  gap: 1.5rem;
  margin-bottom: 0;
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1rem;
}

.cart-drawer .cart-item__media {
  grid-row: 1 / 3;
}

.cart-drawer .cart-item__image {
  max-width: 100%;
}

.cart-drawer .cart-items thead {
  margin-bottom: 0.5rem;
}

.cart-drawer .cart-items thead th:first-child,
.cart-drawer .cart-items thead th:last-child {
  width: 0;
  padding: 0;
}

.cart-drawer .cart-items thead th:nth-child(2) {
  width: 50%;
  padding-left: 0;
}

.cart-drawer .cart-items thead tr {
  display: table-row;
  margin-bottom: 0;
}

.cart-drawer .cart-items th {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart-drawer .cart-item:last-child {
  margin-bottom: 1.5rem;
}

.cart-drawer .cart-item .loading-overlay {
  right: 5px;
  padding-top: 2.5rem;
}

.cart-drawer .cart-items td {
  padding-top: 2rem;
}

.cart-drawer .cart-item > td + td {
  padding-left: 1rem;
}

.cart-drawer .cart-item__details {
  width: auto;
  grid-column: 2 / 4;
}

.cart-drawer .cart-item__totals {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  margin-top: 0;
}

.cart-drawer .cart-item__price-wrapper .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart-drawer .unit-price {
  margin-top: 0.6rem;
}

.cart-drawer .cart-items .cart-item__quantity {
  padding-top: 0;
  grid-column: 2 / 5;
}

@media screen and (max-width: 749px) {
  .cart-drawer .cart-item cart-remove-button {
    margin-left: 0;
  }
}

.cart-drawer__footer > * + * {
  margin-top: 1rem;
}

.cart-drawer .totals {
  justify-content: space-between;
}

.cart-drawer .price {
  line-height: 1;
}

.cart-drawer .tax-note {
  margin: 1.2rem 0 1rem auto;
  text-align: left;
}

.cart-drawer .product-option dd {
  word-break: break-word;
}

.cart-drawer details[open]>summary .icon-caret {
  transform: rotate(180deg);
}

.cart-drawer .cart__checkout-button {
  max-width: none;
}

.drawer__footer .cart__dynamic-checkout-buttons {
  max-width: 100%;
}

.drawer__footer #dynamic-checkout-cart ul {
  flex-wrap: wrap !important;
  flex-direction: row !important;
  margin: 0.5rem -0.5rem 0 0 !important;
  gap: 0.5rem;
}

.drawer__footer [data-shopify-buttoncontainer] {
  justify-content: flex-start;
}

.drawer__footer #dynamic-checkout-cart ul > li {
	flex-basis: calc(50% - 0.5rem) !important;
  margin: 0 !important;
}

.drawer__footer #dynamic-checkout-cart ul > li:only-child {
  flex-basis: 100% !important;
  margin-right: 0.5rem !important;
}

@media screen and (min-width: 750px) {
  .drawer__footer #dynamic-checkout-cart ul > li {
    flex-basis: calc(100% / 3 - 0.5rem) !important;
    margin: 0 !important;
  }

  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(2) ~ li,
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4),
  .drawer__footer #dynamic-checkout-cart ul > li:first-child:nth-last-child(4) ~ li {
	  flex-basis: calc(50% - 0.5rem) !important;
  }
}

cart-drawer-items::-webkit-scrollbar {
  width: 3px;
}

cart-drawer-items::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.7);
  border-radius: 100px;
}

cart-drawer-items::-webkit-scrollbar-track-piece {
  margin-top: 31px;
}

/* custom rca style */
.drawer__footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  padding: 12px 24px;
  background-color: #e5dcd3;
  border-top: none;
  z-index: 5;
}
.rca_row_group {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  width: calc(70vw - 10px);
  padding-bottom:10px;
}
.rca_row_group .cart-item {
  display: inline-flex !important;
  margin-bottom: 0;
  width: 540px;
  gap:0px;
  padding-right:24px;
}
.rca_row_group .cart-item__totals {
  display: none;
}
p.product-option{
  display:none;
}
cart-remove-button .button {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 30px;
  min-width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #144039;
  color: #e5dcd3;
  z-index: 5;
  border: none;
  cursor: pointer;
}
.cart-item__media {
  width: 180px;
}
.cart-drawer .cart-item__image {
  width: 100%;
  height: 155px;
  object-fit: cover;
}
.rca_product_item {
  position: relative;
  padding: 0px 48px 0px 24px;
  width: calc(100% - 180px);
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
cart-remove-button .button svg {
  width: 100%;
}
cart-remove-button .button {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 36px;
  min-width: 36px;
  padding: 8px;
  border-radius: 50%;
  background-color: #144039;
  color: #e5dcd3;
  z-index: 5;
  border: none;
  cursor: pointer;
  max-width: 36px;
  max-height: 36px;
}
cart-drawer quantity-input.quantity {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3,1fr);
  grid-auto-flow: column;
  align-items: center;
  border: 1px solid #000;
  border-radius: 24rem;
  margin-top: 24px;
  min-height: 36px;
}
cart-drawer button.quantity__button {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
cart-drawer .quantity__button svg{
  width:2.7rem;
}
cart-drawer .quantity__input {
  height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Wigrum';
  opacity: 1;
}
cart-drawer .cart-item__quantity{
  padding-left:0px !important;
}
.cart-item cart-remove-button{
  margin:0px;
}
cart-drawer quantity-input.quantity:before, cart-drawer quantity-input.quantity:after {
  display: none;
}
.rca_cart-item {
  display: inline-flex;
  min-width: 576px;
  max-width: 576px;
  padding-right: 24px;
}
.rca_cart-item:first-child {
  padding-left: 24px;
}
h2.drawer__heading {
  font-size: 33.6px;
  line-height: 1.2;
  font-family: 'Wigrum';
  font-weight: 400;
  color: #000;
  margin-bottom:0px;
  letter-spacing: 0;
}
.cart-drawer .cart__checkout-button {
  max-width: none;
  min-height: 69px;
  background-color: #144039;
  color: #fcfaf6;
  border: none !important;
  box-shadow: none !important;
  font-size: 24px;
  font-family: 'Wigrum';
  border-radius: 7px;
  letter-spacing: 0;
}
.cart-drawer .cart__checkout-button:hover {
  background-color: #b0beaf;
  color: #000;
  transition: .2s;
  cursor: pointer;
}
.cart-drawer .cart__checkout-button:before,
.cart-drawer .cart__checkout-button:after{
  display:none;
}
.cart-drawer__footer:before {
  top: 0;
  position: absolute;
  content: "";
  left: 50%;
  width: calc(100% - 4.8rem);
  height: 1px;
  background-color: #000;
  transform: translateX(-50%);
}
.cart-drawer__footer {
  padding: 12px 24px 0px;
  margin-top: 12px;
  position:relative;
}
h2.totals__subtotal,
p.totals__subtotal-value {
  font-size: 24px !important;
  font-family: 'Wigrum';
  line-height: 1.2;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
}
a.cart-item__name.h4.break,
div.product-option {
  font-size: 26.4px;
  font-family: 'Wigrum';
  font-weight: 300;
  line-height: 1.1;
  color: #000;
  text-decoration: none !important;
  letter-spacing: 0;
}
dl .product-option{
  display:none;
}
cart-drawer .quantity__button:focus-visible,cart-drawer .quantity__input:focus-visible{
  background-color: transparent;
  outline: none !important;
  box-shadow: none;
}
.rca_row_group:hover::-webkit-scrollbar-thumb{
  background-color:#929296;
}
.rca_row_group::-webkit-scrollbar{
  width:6px;
  height:6px;
  z-index:999999;
}
.rca_row_group::-webkit-scrollbar-track{
  background-color:transparent;
}
.rca_row_group::-webkit-scrollbar-thumb{
  background-color:transparent;
  border-radius:16px;
  border:0 solid #fff;
  -webkit-transition:background-color .2s;
  transition:background-color .2s;
}
.rca_row_group::-webkit-scrollbar-button{
  display:none;
}
.rebuy-product-block {
  display: inline-block !important;
  width: 420px !important;
  max-width: 420px;
  min-width: 420px;
  padding: 12px 12px !important;
  background-color: #fcfaf6;
  border-radius: 7px;
}
.rca_sroll_div {
  margin-bottom: 100px;
  overflow-x: auto;
}
.rebuy-product-grid {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  overflow-x: auto;
  justify-content: flex-start !important;
  gap:12px;
  padding:0px 24px 12px !important;
}
.rebuy-product-grid:hover::-webkit-scrollbar-thumb{
  background-color:#929296;
}
.rebuy-product-grid::-webkit-scrollbar{
  width:6px;
  height:6px;
  z-index:999999;
}
.rebuy-product-grid::-webkit-scrollbar-track{
  background-color:transparent;
}
.rebuy-product-grid::-webkit-scrollbar-thumb{
  background-color:transparent;
  border-radius:16px;
  border:0 solid #fff;
  -webkit-transition:background-color .2s;
  transition:background-color .2s;
}
.rebuy-product-grid::-webkit-scrollbar-button{
  display:none;
}
.rca_rebuy_code {
  background-color: #e5dcd3;
  margin-top: 0px;
}
.powered-by-rebuy {
  display: none;
}
h3.primary-title {
  font-size: 24px;
  text-align: left !important;
  font-family: 'Wigrum';
  font-weight: 400 !important;
  color: #000 !important;
  letter-spacing: 0 !important;
}
.rebuy-widget.widget-type-cart {
  padding: 0px 0px;
}
h3.primary-title {
  padding: 36px 24px 12px !important;
  margin: 0px 0px !important;
}
.rebuy-product-media {
  width: 180px !important;
  height: 144px;
}
.rebuy-product-media a {
  display: block !important;
  height: 100% !important;
}
.rebuy-product-media img {
  object-fit: cover !important;
  height: 144px !important;
  width: 100% !important;
}
.rebuy-product-info {
  width: calc(100% - 180px) !important;
}
.rebuy-product-actions{
  width: calc(100% - 180px) !important;
}
.rebuy-product-info, .rebuy-product-info a, .rebuy-product-price, .rebuy-product-price span {
  margin: 0px 0px 0px 0px !important;
  font-size: 19.2px !important;
  font-family: 'Wigrum';
  font-weight: 400 !important;
  color: #000 !important;
  line-height: 1.4;
  letter-spacing: 0 !important;
}
button.rebuy-button {
  font-size: 16.8px;
  font-weight: 500;
  font-family: 'Wigrum';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b0bdb0 !important;
  color: #222 !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #b0bdb0 !important;
  height: 43px;
  padding: 0px !important;
  margin-top: 36px;
  letter-spacing: 0 !important;
}
.rebuy-product-info,.rebuy-product-actions {
  padding: 0px 0px 0px 10px !important;
}
cart-remove-button .button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 1.6px;
  background-color: #e5dcd3;
  transform: translate(-50%,-50%) rotate(-45deg);
}

cart-remove-button .button:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 1.6px;
    background-color: #e5dcd3;
    transform: translate(-50%,-50%) rotate(45deg);
}
cart-remove-button .button svg {
    opacity: 0;
}
div#rebuy-widget-70484 h3.primary-title {
  padding-top: 20px !important;
}
button.rebuy-button:hover {
  background-color: #144039 !important;
  color: #e5dcd3 !important;
  border-color: #144039 !important;
}
h2.cart__empty-text {
  text-align: left;
}
.drawer__inner-empty{
  background-color: #fcfaf6;
}
.rca_empty {
  display: flex !important;
}
.cart-drawer__warnings .drawer__close {
  right: 5px;
  width: 30px;
}
cart-drawer.drawer.is-empty .cart-drawer__footer{
  margin-top: 0px;
}
h2.cart__empty-text {
  font-size: 24px;
  line-height: 1.4;
  font-family: 'Wigrum';
  font-weight: 300;
  padding-left:12px;
}
cart-drawer.drawer.is-empty .drawer__close{
  top: 34px;
  left: 25px;
}
cart-drawer.drawer.is-empty div[data-rebuy-id]:first-child {
  display: none;
}

/* new css 1/27/2023 */
.drawer__close svg{
  opacity: 0;
}

button.drawer__close:before {
  content: "";
  height: 42px;
  width: 1.6px;
  background: #000;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%) rotate(45deg);
  top: 50%;
  left: 50%;
}
button.drawer__close:after {
  content: '';
  height: 42px;
  width: 1.6px;
  background: #000;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%) rotate(-45deg);
  top: 50%;
  left: 50%;
}
@media only screen and (max-width: 1800px){
  button.drawer__close:before {
    height: 36px;
  }
  button.drawer__close:after {
    height: 36px;
  }
  h2.cart__empty-text {
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Wigrum';
    font-weight: 300;
    padding-left:10px;
}
  h3.primary-title{
    font-size:20px;
  }
  .rebuy-product-info, .rebuy-product-info a, .rebuy-product-price, .rebuy-product-price span{
    font-size:16px !important;
  }
  button.rebuy-button{
    font-size:14px;
    margin-top: 28px;
    height: 36px;
  }
  .rebuy-product-actions,.rebuy-product-info {
    width: calc(100% - 150px) !important;
  }
  .rebuy-product-media {
    width: 150px !important;
    height: 120px;
  }
  .rebuy-product-media img{
    height: 120px !important;
  }
  .rebuy-product-block {
    display: inline-block !important;
    width: 350px !important;
    max-width: 350px;
    min-width: 350px;
    padding: 10px 10px !important;
    background-color: #fcfaf6;
    border-radius: 7px;
  }
  .rebuy-product-grid{
    gap: 10px;
    padding: 0px 20px 12px !important;
  }
  .drawer__inner{
    width:70vw;
    max-width: 70vw;
  }
  .drawer__close,.drawer__close svg{
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
  }
  h2.drawer__heading{
    font-size:28px;
  }
  .drawer__header{
    padding:30px 30px 20px;
  }
  .cart-drawer .cart-item__image{
    height: 129px;
  }
  .cart-item__media {
    width: 150px;
  }
  .rca_product_item{
    padding:0px 40px 0px 20px;
    width: calc(100% - 150px);
  }
  a.cart-item__name.h4.break, div.product-option{
    font-size: 22px;
  }
  cart-remove-button .button{
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
    max-width: 30px;
    max-height: 30px;
  }
  cart-drawer quantity-input.quantity{
    min-height:29px;
    height:29px;
  }
  cart-drawer .quantity__input{
    font-size:20px;
  }
  cart-drawer .quantity__button svg {
    width: 2.2rem;
  }
  .rca_cart-item:first-child {
    padding-left: 20px;
  }
  .rca_cart-item {
    display: inline-flex;
    min-width: 478px;
    padding-right: 20px;
  }
  .rca_row_group{
    width: calc(70vw - 0px);
  }
  h2.totals__subtotal, p.totals__subtotal-value{
    font-size: 20px !important;
  }
  p.totals__subtotal-value {
    font-weight: 300;
  }
  .cart-drawer .cart__checkout-button{
    font-size: 20px;
    min-height: 57px;
  }
}
@media only screen and (max-width: 1200px){
  h2.cart__empty-text {
    font-size: 20px;
    padding-left:10px;
  }
  h3.primary-title{
    font-size:18px;
  }
  h3.primary-title{
    padding:30px 20px 10px !important;
  }
  .cart-drawer .cart__checkout-button {
    font-size: 18px;
    min-height: 55px;
  }
  .rebuy-product-info, .rebuy-product-info a, .rebuy-product-price, .rebuy-product-price span{
    font-size:16px !important;
  }
  button.rebuy-button{
    font-size:14px;
    margin-top: 28px;
    height: 36px;
  }
  .rebuy-product-actions,.rebuy-product-info {
    width: calc(100% - 150px) !important;
  }
  .rebuy-product-media {
    width: 150px !important;
    height: 120px;
  }
  .rebuy-product-media img{
    height: 120px !important;
  }
  .rebuy-product-block {
    display: inline-block !important;
    width: 350px !important;
    max-width: 350px;
    min-width: 350px;
    padding: 10px 10px !important;
    background-color: #fcfaf6;
    border-radius: 7px;
  }
  .rebuy-product-grid{
    gap: 10px;
    padding: 0px 20px 12px !important;
  }
}
@media only screen and (max-width: 600px){
  cart-drawer.drawer.is-empty .drawer__close{
    left:20px;
  }
  .drawer__inner-empty{
    height: 227px;
  }
  h2.cart__empty-text {
    font-size: 14px;
    padding-left: 6px;
    margin-top: 0px;
    letter-spacing: 0;
  }
  h3.primary-title{
    font-size:14px;
  }
  h3.primary-title{
    padding:30px 20px 10px !important;
  }
  .cart-drawer .cart__checkout-button {
    font-size: 14px;
    min-height: 55px;
  }
  .rebuy-product-info, .rebuy-product-info a, .rebuy-product-price, .rebuy-product-price span{
    font-size:14px !important;
  }
  button.rebuy-button{
    font-size: 12px;
    margin-top: 00px;
    height: 34px;
  }
  .rebuy-product-actions,.rebuy-product-info {
    width: calc(100% - 80px) !important;
  }
  .rebuy-product-media {
    width: 80px !important;
    height: 64px;
    margin-top:8px;
  }
  .rebuy-product-media img{
    height: 64px !important;
  }
  .rebuy-product-block {
    display: inline-block !important;
    width: 250px !important;
    max-width: 250px;
    min-width: 250px;
    padding: 10px 10px !important;
    background-color: #fcfaf6;
    border-radius: 7px;
  }
  .rebuy-product-grid{
    gap: 10px;
    padding: 0px 20px 12px !important;
  }

  .drawer__inner{
    width:100vw;
    max-width: 100vw;
    border:none;
  }
  .drawer__close,.drawer__close svg{
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
  }
  h2.drawer__heading{
    font-size:22px;
  }
  .drawer__header{
    padding:35px 30px 35px;
  }
  .cart-drawer .cart-item__image{
    height: 86px;
  }
  .cart-item__media {
    width: 100px;
  }
  .rca_product_item{
    padding:0px 10px 0px 20px;
    width: 160px;
  }
  a.cart-item__name.h4.break, div.product-option{
    font-size: 14px;
    margin-top: 0;
  }
  cart-remove-button .button{
    min-height: 20px;
    min-width: 20px;
    padding: 5px;
    max-width: 20px;
    max-height: 20px;
    right: -32px;
  }
  cart-drawer quantity-input.quantity{
    min-height:27px;
    height:27px;
    margin-top:0px;
  }
  cart-drawer .quantity__input{
    font-size:16px;
  }
  cart-drawer .quantity__button svg {
    width: 1.3rem;
  }
  .rca_cart-item:first-child {
    padding-left: 20px;
  }
  .rca_cart-item {
    display: inline-flex;
    min-width: 330px;
    padding-right: 20px;
  }
  .rca_row_group{
    width: calc(100vw - 0px);
  }
  h2.totals__subtotal, p.totals__subtotal-value{
    font-size: 14px !important;
  }
  p.totals__subtotal-value {
    font-weight: 300;
  }
  .cart-drawer .cart__checkout-button{
    font-size: 14px;
    min-height: 50px;
  }
  cart-remove-button .button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 1.6px;
    background-color: #e5dcd3;
    transform: translate(-50%,-50%) rotate(-45deg);
  }

  cart-remove-button .button:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 1.6px;
      background-color: #e5dcd3;
      transform: translate(-50%,-50%) rotate(45deg);
  }
  cart-remove-button .button svg {
      opacity: 0;
  }
  .drawer__close{
    top: 35px;
    left: 35px;
  }
  .drawer__footer {
    padding:10px 20px;
  }
  .cart-drawer__footer {
    padding: 12px 20px 0px;
    margin-top: 5px;
    position: relative;
  }
  .cart-drawer__footer:before{
    width: calc(100% - 4rem);
  }
}
