.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}
/* Custom css */
.rca_inner_article_img img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 720px;
}
.rca_inner_article {
  position: relative;
  display: block;
  width: 100%;
}
header.rca_over_image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: auto;
  max-width: 100%;
  padding: 0 0 48px 144px;
  margin: 0px;
}
.rca_over_image h1.article-template__title {
  font-size: 45.6px;
  line-height: 54px;
  margin: 0px;
  font-family: 'Wigrum';
  width: 90%;
  margin-bottom: 24px;
  font-weight: 400;
  color: #fff;
}
header.rca_over_image span {
  font-size: 24px;
  line-height: 1.4;
  font-family: 'Wigrum';
  font-weight: 400;
  text-transform: inherit;
  color:#fff;
}
.rca_inner_article_img:before {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #222;
  opacity: .5;
  content: "";
  display: block;
  height: 100%;
}
article.article-template{
  background-color: #fcfaf6;
}
.article-template__content {
  max-width: 960px;
  margin: 96px auto 0px;
  padding-bottom: 96px;
}
.article-template__content p, .article-template__content ul li, .article-template__content a {
  font-size: 24px;
  font-family: 'Wigrum';
  font-weight: 300;
  color: #211118 !important;
  letter-spacing: 0;
  line-height: 1.5;
}
.article-template__content h2,.article-template__content h3 {
  font-size: 38.4px;
  font-family: 'Wigrum';
  font-weight: 300;
  color: #211118;
}
.article-template__content ul li {
  margin-bottom: 36px;
}
.article-template__content ul {
  padding-left: 3rem !important;
}
.article-template__back {
  display: none;
}
header.rca_over_image span.rca_break_icon:nth-child(2):after {
  content: "/";
  padding: 0px 6px;
}
/* new css 02-02-2023 */
.article .rca_inner_article{
  margin-top: 0px !important;
}
.article-template__content{
  font-size: 24px;
  font-family: 'Wigrum';
  font-weight: 300;
  color: #211118 !important;
  letter-spacing: 0;
  line-height: 1.5;
}
@media only screen and (min-width: 961px) and (max-width: 1800px){
  .rca_inner_article_img img{
    height:600px;
  }
  .rca_over_image h1.article-template__title {
    font-size: 38px;
    line-height: 1.2;
    width: 90%;
    margin-bottom: 20px;
  }
  header.rca_over_image span{
    font-size:20px;
    font-weight:400;
    letter-spacing: 0;
  }
  header.rca_over_image{
    padding:0 0 40px 120px;
  }
  .article-template__content{
    max-width: 800px;
    margin: 80px auto 0px;
    padding-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    letter-spacing: -.2px;
  }
  .article-template__content p, .article-template__content ul li, .article-template__content a {
    font-size: 20px;
    letter-spacing: -.2px;
  }
  .article-template__content h2, .article-template__content h3{
    font-size:32px;
  }
  .article-template__content ul {
    padding-left: 2rem !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 960px){
  .rca_inner_article_img img{
    height:600px;
  }
  .rca_over_image h1.article-template__title {
    font-size: 32px;
    line-height: 1.2;
    width: 90%;
    margin-bottom: 20px;
  }
  header.rca_over_image span{
    font-size:20px;
    font-weight:400;
    letter-spacing: 0;
  }
  header.rca_over_image{
    padding:0 0 40px 80px;
  }
  .article-template__content{
    max-width: 600px;
    margin: 60px auto 0px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    letter-spacing: 0px;
  }
  .article-template__content p, .article-template__content ul li, .article-template__content a {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .article-template__content h2, .article-template__content h3{
    font-size:32px;
  }
  .article-template__content ul {
    padding-left: 2rem !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px){
  .rca_inner_article_img img{
    height:600px;
  }
  .rca_over_image h1.article-template__title {
    font-size: 28px;
    line-height: 1.2;
    width: 90%;
    margin-bottom: 20px;
  }
  header.rca_over_image span{
    font-size:16px;
    font-weight:400;
    letter-spacing: 0;
  }
  header.rca_over_image{
    padding:0 0 40px 40px;
  }
  .article-template__content{
    max-width: 340px;
    margin: 20px auto 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    letter-spacing: 0px;
  }
  .article-template__content p, .article-template__content ul li, .article-template__content a {
    font-size: 18px;
    letter-spacing: 0px;
  }
  .article-template__content h2, .article-template__content h3{
    font-size:24px;
  }
  .article-template__content ul {
    padding-left: 2rem !important;
  }
}